* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

::selection {
    background: rgb(166, 84, 243);
    color: white;
}

body {
    background-color: rgb(11, 37, 92);
    color: white;
}

nav {
    background-color: rgb(16, 43, 101);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
}

.right-box-2 {
    display: none;
}

.right-box > ul {
    display: flex;
    justify-content: center;
}

.right-box > ul > li > a {
    color: white;
    text-decoration: none;
    transition: 0.1s ease-in-out;
}

.right-box > ul > li > a:hover {
    color: rgb(147, 81, 240);
    font-size: 19px;
}

.right-box > ul > li {
    list-style: none;
    margin: 0px 20px;
}

.left-box {
    font-size: 28px;
    font-weight: 500;
}

.first-sec {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5vh;
    margin-bottom: 16vh;
    padding-top: 50px;
}

.first-sec-left > img {
    border-radius: 1%;
    width: 90%;
}

.first-sec-right {
    font-size: 40px;
}

.first-sec-left {
    display: flex;
    justify-content: center;
}

.first-sec-right > :nth-child(2) > a {
    text-decoration: none;
    color: rgb(166, 84, 243);
    font-weight: 500;
    transition: 0.07s ease-in-out;
}

.first-sec-right > :nth-child(2) > a:hover {
    text-shadow: 0px 0px 10px rgb(170, 119, 218);
    cursor: pointer;
}

#element {
    transition: 0.1s ease-in-out;
}

#element:hover {
    text-shadow: 0px 0px 10px rgb(178, 126, 227);
    cursor: pointer;
}

.second-sec {
    max-width: 80vw;
    margin: auto;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.third-sec {
    max-width: 80vw;
    margin: auto;
    max-height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.third-sec-box > img {
    max-width: 70%;
    height: auto;
}

.third-sec-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff4f9;
    border: 2px solid rgb(183 104 255);
    box-shadow: 0px 0px 10px 0px #a84c90;
    border-radius: 15px;
    width: 170px;
    height: 150px;
}

.third-sec > div {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px 200px;
    grid-template-rows: 200px 200px;
    justify-items: center;
    align-items: center;
    justify-content: center;
}

.fourth-sec {
    max-width: 80vw;
    margin: 60px auto;
    max-height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fourth-sec a {
    text-decoration: none;
    transition: 0.1s ease-in-out;
    width: 100%;
}

.fourth-sec-box {
    background-color: rgb(0 0 0);
    width: 400px;
    height: 508px;
    /* width: 90%;
    height: 81%; */
    border-radius: 10px;
    margin: 60px 0px;
    transition: 0.1s ease-in-out;
    cursor: default;
}

.fourth-sec-box:hover {
    /* transform: scale(1.02); */
    transform: translateY(-20px);
    box-shadow: 0px 0px 20px 5px rgb(43, 18, 66);
}

#fourth-sec-img-1, #fourth-sec-img-2 {
    max-width: 70%;
    height: auto;
}
    
#fourth-sec-img-3 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#fourth-sec-box-3 {
    height: 508px;
}

#fourth-sec-box-3 > :nth-child(1) {
    padding: 0;
    background-color: transparent;
    height: 37.5%;
}
        
.fourth-sec-box > :nth-child(1) {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 30%;
}

.fourth-sec-box-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    height: 280px;
}

.fourth-sec-box-2 > :nth-child(1) {
    font-size: 22px;
    margin-bottom: 15px;
}

.fourth-sec-box-2 > a > button {
    color: white;
    background-color: rgb(147, 81, 240);
    margin-top: 30px;
    margin-bottom: 5px;
    padding: 20px 0px;
    border: none;
    border-radius: 10px;
    width: 100%;
    transition: 0.1s ease-in-out;
    font-size: larger;
    font-weight: 500;
}

.fourth-sec-box-2 > a > button:hover {
    color: black;
    cursor: pointer;
    box-shadow: 0px 0px 4px 3px rebeccapurple;
    transform: translateY(-10px);
}

.fourth-sec > div {
    display: grid;
    grid-template-columns: 450px 450px 450px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 100%;
}

.info {
    margin-top: 25px;
}

#skills {
    margin-top: 60px;
    margin-bottom: 25px;
}

#projects {
    margin-bottom: 25px;
}

footer {
    background-color: #0a152b;
    height: 28vh;
    padding: 25px 0px;
    min-height: fit-content;
}

.footer > div {
    display: flex;
    flex-direction: column;
}

.footer > :nth-child(1) {
    font-size: 20px;
}

.footer div a {
    list-style: none;
    color: white;
    text-decoration: none;
    transition: 0.07s ease-in-out;
    line-height: 2rem;
}

.footer div a:hover {
    color: rgb(147, 81, 240);
}

.footer {
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 80vw;
}

footer > :last-child {
    margin: auto;
    margin-top: 70px;
    max-width: 80vw;
}

.footer > :first-child:hover {
    text-shadow: 0px 0px 10px rgb(178, 126, 227);
    cursor: pointer;
}

@media screen and (max-width: 1536px) {
    .third-sec > div {
        grid-template-columns: 200px 200px 200px 200px 200px;
        grid-template-rows: 200px 200px 200px;
    }
}

@media screen and (max-width: 1400px) {
    .fourth-sec > div {
        display: grid;
        grid-template-columns: 480px 480px;
        grid-template-rows: 570px 570px;
    }
    
}

@media screen and (max-width: 1280px) {
    .last, .footer div a {
        font-size: 14px;
    }

    .footer > :nth-child(1) {
        font-size: 18px;
    }

    .third-sec > div {
        grid-template-columns: 200px 200px 200px 200px ;
    }

    .fourth-sec > div {
        grid-template-columns: 450px 450px;
    }
}

@media screen and (max-width: 1024px) {
    .last, .footer div a {
        font-size: 12px;
    }

    .footer > :nth-child(1) {
        font-size: 16px;
    }

    .left-box {
        font-size: 26px;
    }

    .first-sec-right > p {
        font-size: 30px;
    }

    .first-sec-right > div {
        font-size: 30px;
    }

    .first-sec-right > span {
        font-size: 30px;
    }

    .first-sec-left {
        width: 280px;
    }

    .fourth-sec > div {
        grid-template-columns: 420px 420px;
        grid-template-rows: 540px 540px;
    }

    .fourth-sec-box {
        width: 380px;
        height: 488px;
    }

    .fourth-sec-box-2 {
        font-size: 15.5px;
    }

    .fourth-sec-box-2 > a > button {
        margin-top: 5px;
        margin-bottom: 25px;
    }

    .fourth-sec-box-2 > :nth-child(1) {
        font-size: 20px;
        margin-bottom: 0px;
    }
}

@media screen and (max-width: 910px) {
    .footer > :nth-child(1) {
        display: none;
    }
    
    .last, .footer div a {
        font-size: 12.6px;
    }
    
    .third-sec > div {
        grid-template-columns: 200px 200px 200px;
        grid-template-rows: 200px 200px 200px 200px;
    }

    .fourth-sec-box {
        width: 350px;
        height: 458px;
    }

    .fourth-sec-box-2 {
        font-size: 14px;
    }

    .fourth-sec-box-2 > a > button {
        margin-top: 0px;
        margin-bottom: 45px;
    }

    .fourth-sec-box-2 > :nth-child(1) {
        font-size: 20px;
        margin-bottom: -20px;
    }

    #btn-3 {
        margin-bottom: 9px;
    }

    .fourth-sec > div {
        grid-template-columns: 380px 380px;
        grid-template-rows: 520px 520px;
    }
}

@media screen and (max-width: 768px) {
    .first-sec-left {
        width: 200px;
    }

    .left-box {
        font-size: 24px;
        font-weight: 400;
    }
    
    .footer {
        flex-direction: column;
    }
    
    .footer div {
        text-align: center;
        margin: 20px 0;
        gap: 10px;
    }

    .right-box {
        display: none;
    }
    
    .right-box-2 {
        display: flex;
        align-items: center;
    }
    
    .right-box-2 > img:active {
        background-color: black;
        border-radius: 50%;
    }
    
    .last, .footer div a {
        font-size: 14px;
    }
    
    footer {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    
    .fourth-sec > div {
        grid-template-columns: 380px;
        grid-template-rows: 500px 500px 550px;
    }
}

@media screen and (max-width: 640px) {
    .left-box {
        font-size: 20px;
    }
    
    .first-sec {
        flex-direction: column-reverse;
        margin-top: 3vh;
        margin-bottom: 14vh;
        gap: 50px;
    }
    
    .first-sec-left {
        width: 300px;
    }

    .third-sec > div {
        grid-template-columns: 210px 210px;
        grid-template-rows: 200px 200px 200px 200px 200px 200px;
    }

    .fourth-sec-box {
        width: 340px;
        height: 448px;
    }

    .fourth-sec-box-2 {
        font-size: 14px;
    }

    .fourth-sec-box-2 > a > button {
        margin-bottom: 45px;
    }

    .fourth-sec-box-2 > :nth-child(1) {
        font-size: 18px;
        margin-bottom: 0px;
    }

    #btn-3 {
        margin-bottom: 9px;
    }

    .fourth-sec > div {
        grid-template-columns: 370px;
        grid-template-rows: 480px 480px 530px;
    }
}

@media screen and (max-width: 480px) {
    .left-box {
        font-size: 20px;
    }
    
    .first-sec-right > p {
        font-size: 24px;
    }

    .first-sec-right > div {
        font-size: 24px;
    }

    .first-sec-right > span, span > a {
        font-size: 25px;
    }

    .first-sec-left {
        width: 250px;
    }

    .third-sec > div {
        grid-template-columns: 155px 155px;
        grid-template-rows: 140px 140px 140px 140px 140px 140px;
    }

    .third-sec-box {
        width: 125px;
        height: 105px;
    }

    .fourth-sec-box {
        width: 300px;
        height: 408px;
    }

    #fourth-sec-box-3 {
        height: 408px;
    }

    .fourth-sec-box-2 {
        font-size: 12px;
    }

    .fourth-sec-box-2 > a > button {
        margin-bottom: 45px;
    }

    .fourth-sec-box-2 > :nth-child(1) {
        font-size: 16px;
        margin-bottom: 0px;
    }

    #btn-3 {
        margin-bottom: 35px;
    }

    .fourth-sec-box-2 {
        height: 250px;
    }

    .fourth-sec > div {
        grid-template-columns: 330px;
        grid-template-rows: 440px 440px 530px;
    }
}